<!-- Связываем обьект FormGroup c form, а его поля с html элементами формы.  -->
<form [formGroup]="checkoutFormGroup" (ngSubmit)="onSubmit()">
  <section [ngStyle]="getPromoStyles(1)"></section>
  <section [ngStyle]="getPromoStyles(2)"></section>
  <section [ngStyle]="getPromoStyles(3)"></section>
  <div style="clear:both" formGroupName="credentials" class="row">
    <div class="col-lg-6">
      <div class="checkout__input">
        <input formControlName="password" type="password" />
      </div>
    </div>
  </div>
  <button type="submit" class="site-btn">PLACE ORDER</button>
</form>